<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>メッセージメモ登録画面</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" >
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<nav class="navar navbar-dark bg-success mb-3">
		<a href="/msgmemo/inputForm" class="navbar-brand h1 col-md-11 col-md-offset-1">MESSAGE MEMO</a>

		<a class="btn btn-primary text-white text-right" onClick="window.print();">印刷</a>
	</nav>
	
	
	<div class="bg-secondary m-5 p-5">
	<div class="col-10 mx-auto">
		<!-- 宛先 -->
		<span>
			<input type="text" name="to_user">さん宛て
		</span>
	</div>
		
		<!-- 年月日 -->
	<div class="m-5 px-5">
		<div class="row">
			<div class="form-inline">
				<p class="col-6 mx-auto">受電日時</p>
				<span>
				<input class="w-25" type="text" name="today_year">年
 				<input class="w-25" type="text" name="today_month">月
 				<input class="w-25" type="text" name="today_day">日
	 			</span>
	 		</div>
	 		
	 		<!-- 時間-->
	 		<div class="form-inline col-5 mx-auto">
	 			<ul class="list-unstyled">
	 				<li><input type="radio" name="radio" value="AM">AM</li>
	 				<li><input type="radio" name="radio" value="PM">PM</li>
	 			</ul>
					<span>
					<select name="hour">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>時
				
					<select name="minute">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">19</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>
						<option value="51">51</option>
						<option value="52">52</option>
						<option value="53">53</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>
					</select>分
					</span>
			</div>
		</div>

		<!-- 会社名 -->
		<div class="mt-4 col-6 mx-auto">
			<p class="mr-4">会社名</p>
			<input class="ml-3 col-11" type="text" name="company">
		</div>
		
		<div class="ml-5 mt-4 col-6 mx-auto">
			<p>氏名</p>
			<input class="ml-3 col-11" type="text" name="company_name">
		</div>
		
		<!-- 対応 -->
		<div class="ml-5 mt-4 col-6 mx-auto">
			<p>対応</p>
			<ul class="list-unstyled">
				<li class="m-2"><input type="checkbox" name="check1">もう一度お電話します</li>
				<li class="m-2"><input type="checkbox" name="check2">折り返しお願いします</li>
				<li class="m-2"><input type="checkbox" name="check3">伝言あります</li>
			</ul>
		</div>
		
		<div class="col-6 mx-auto">
			<textarea class="mt-4" name="memo" cols="60" rows="5"></textarea>
		</div>
		
		<div class="col-7 mx-auto">
			<p>受電者</p>	
			<input class="ml-5" type="text" name="from_user">
		</div>
		
		<!-- 登録ボタン -->
			<div class="col-2 mx-auto h-25 mt-5">
				<button type="button" class="btn btn-outline-success btn-block h-25">登録</button>
			</div>
	</div>
	</div>
</body>
</html>